PORT=5000
MONGO_URI=mongodb+srv://Shubham4352:shubham_123@cluster0.qx60ml8.mongodb.net/ai-chatbot?retryWrites=true&w=majority
JWT_SECRET=mysupersecretjwtkey1234567890abcdefghijk
NVIDIA_API_KEY=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
CLIENT_URL=http://localhost:3000
NODE_ENV=development